<% layout('layouts/boilerplate') %>

<section class="hero">

    <%- include('../partials/flash') %>
    <div class="container">
        
        <div class="hero__image"></div>

        <div class="hero__text container--pall">
            <h1>
                Belajar Gratis Kapanpun Dimanapun
            </h1>
            <p>
                FibonacciKu percaya bahwa semua orang berhak mendapatkan pendidikan gratis yang berkualitas
            </p>
            <!-- <a href="https://www.fibonacciku.com/masuk" class="button hero__cta">Masuk</a> -->
        </div>
    </div>
</section>

<section class="feature">

    <div class="feature container container--pall">

        <div class="feature__intro">
            <h2>Kenapa memilih FibonacciKu?</h2>
            <p>
                Kita menyediakan pendidikan gratis untuk orang Indonesia
                di seluruh dunia yang dapat diakses kapanpun dan dimanapun.
            </p>
        </div>

        <div class="feature__grid">
            <div class="feature__item">
                <div class="feature__icon belajar_mandiri">
                    <!--<img src="/fiboweb/images/dino_pembelajaran_mandiri.svg">-->
                </div>
                <div class="feature__title">
                    Belajar Mandiri
                </div>
                <div class="feature__description">
                    Murid belajar pada kemampuannya sendiri, bertujuan mengisi gap
                    pemahaman suatu materi supaya memiliki pondasi yang kuat
                </div>
            </div>

            <div class="feature__item">
                <div class="feature__icon konten_terpercaya">
                    <!--<img src="/fiboweb/images/burung_konten_terpercaya.svg">-->
                </div>
                <div class="feature__title">
                    Konten Terpercaya
                </div>
                <div class="feature__description">
                    Diciptakan oleh mahasiswa di jerman yang berpengalaman
                    di bidangnya dan mengajar dengan sepenuh hati
                </div>
            </div>

            <div class="feature__item">
                <div class="feature__icon belajar_asyik">
                    <!--<img src="/fiboweb/images/dinoair_belajar_asyik.svg">-->
                </div>
                <div class="feature__title">
                    Belajar Asyik
                </div>
                <div class="feature__description">
                    Pembelajaran yang simpel dan tentunya menyenangkan
                    untuk semua umur
                </div>
            </div>

            <div class="feature__item">
                <div class="feature__icon akses_gratis">
                    <!--<img src="/fiboweb/images/triceratop_akses_gratis.svg">-->
                </div>
                <div class="feature__title">
                    Akses Gratis
                </div>
                <div class="feature__description">
                    Semua materi di FibonacciKu dapat diakses secara gratis
                    kapanpun dan dimanapun kamu berada
                </div>
            </div>
        </div>
    </div>

</section>

<section class="donasi">
    <div class="container">

        <div class="donasi__image"></div>

        <div class="donasi__text container--pall">
            <h1>
                Kita butuh Kamu
            </h1>
            <p>
                Bantuan donasi yang kamu berikan sangat berarti
                untuk kita, supaya kita dapat selalu memberikan
                pendidikan gratis yang berkualitas kepada kalian semua
            </p>
            <a href="https://saweria.co/Fibonacciku" target="_blank" class="button footer__cta">Donasi Sekarang</a>
        </div>

    </div>
</section>

<script async>
    document.title = "FibonacciKu";
</script>