.forgot {

    position: relative;
    width: 100%;
    min-height: 90vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    

    &__image {
        
        position: absolute;
        width: 100%;
        min-height: 100vh;
        background-image: url('/img/illustration/mountain_tree.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    &__container {
        padding-top: 10rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 5rem;

        @include breakpoint-down(medium){
            padding-top: 9rem;
            padding-bottom: 4rem;
        }

        @include breakpoint-down(small){
            padding-top: 8rem;
            padding-bottom: 3rem;
        }
    }

    &__box {
        position: relative;
        z-index: 1;
        background: white;
        box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
        width: 25.875rem;
        padding: 3.125rem 2.5rem;
        border-radius: 0.3125rem;
        overflow: hidden;

        legend {
            font-size: 2rem;
            font-weight: 1000;
        }

        .form-group {

            label {
                font-size: 1.3rem;
            }

            .deskripsi {
                font-size: 1rem;
                color: gray;

                @include breakpoint-down(small){
                    font-size: 0.9rem;
                }
            }
        }
    }

}