.pengaturans {
    background-color: $cream;
}

.pengaturan {

    background-color: $cream;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 18rem;
    padding-right: 18rem;

    @include breakpoint-down(medium){
        padding-left: 6rem;
        padding-right: 6rem;
    }

    @include breakpoint-down(small){
        padding-left: 1rem;
        padding-right: 1rem;
    }

    &__intro {

        text-align: center;

        h1 {
            text-align: center;
            font-weight: 1000;
        }
    }

    &__grid {
        gap: 2.5rem;

        display: flex;
        flex-wrap: wrap;

        @include breakpoint-down(small) {
            flex-direction: column;
        }
    }

    &__card {
        padding: 2rem;
        border-radius: 15px;
        box-shadow: 0 0 20px rgba(0,0,0,.2);
        background: linear-gradient(to right, $blueSky, $lightPurple);

        @include breakpoint-up(medium){
            flex: 2 1 100%;
        }

        @include breakpoint-up(large){
            flex: 2 1 100%;
        }
    }

    &__form {

        .judul {

            .pilihan-akun {
                display: flex;
                gap: 1.5rem;
                align-items: center;

                h3 {
                    font-weight: 1000;
                }

                .akun {
                    text-decoration: underline;
                }

                .password {
                    color: gray;

                    &:hover {
                        color: $darkBlue;
                        opacity: 0.7;
                        text-decoration: underline;
                    }
                }
            }

            .pilihan-password {
                display: flex;
                gap: 1.5rem;
                align-items: center;

                h3 {
                    font-weight: 1000;
                }

                .akun {
                    color: gray;

                    &:hover {
                        color: $darkBlue;
                        opacity: 0.7;
                        text-decoration: underline;
                    }
                }

                .password {
                    text-decoration: underline;
                }
            }

            hr {
                margin-bottom: 2.5rem;
            }
        }

        .btn-valid-error {
            background: gray;
            color: white;
        }
    }

    &__konten {

        display: flex;
        flex-direction: column;
        background-color: $verylightBlue;
        border-radius: .5rem;
        padding: .5rem 1rem .25rem;
        margin-bottom: 2rem;

        .foto-profil {
            max-width: 20rem;
        }

        .form-control {
            padding: 0;
            border: 0;
            box-shadow: none;
            outline: 0 none;
            border-color: none;
        }

        textarea:focus,
        textarea[type="text"]:focus,
        input[type="text"]:focus,
        input[type="password"]:focus,
        input[type="datetime"]:focus,
        input[type="datetime-local"]:focus,
        input[type="date"]:focus,
        input[type="month"]:focus,
        input[type="time"]:focus,
        input[type="week"]:focus,
        input[type="number"]:focus,
        input[type="email"]:focus,
        input[type="url"]:focus,
        input[type="search"]:focus,
        input[type="tel"]:focus,
        input[type="color"]:focus,
        .uneditable-input:focus {
            border: none;
            background: none;
            border-color: none;
            box-shadow: none;
            outline: 0 none;
        }

        input ,textarea {
            border: none;
            border-color: none;
            outline: 0 none;
            background: none;
            width: 100%;
            font-size: 1em;
            padding-bottom: 0.3125rem;
        }

        .deskripsi {
            font-size: 0.9rem;
            color: gray;

            white-space: pre-line;

            @include breakpoint-down(small){
                font-size: 0.8rem;
            }
        }

        i {
            color: #828da0;
            font-size: 1.2em;
            margin-right: 0.625rem;
            padding-bottom: 0.3125rem;
        }

        .eye-btn1, .eye-btn2, .eye-btn {
            cursor: pointer;

            i:hover {
                color: #0065ff;
                transition: 0.3s ease;
            }
        }

        .valid-error {
            font-size: 1rem;
            color: red;
        }
    }

    &__label {
        font-size: 1rem;
    }

    &__input {

        width: 100%;
        background-color: $verylightBlue;
        font-size: medium;
        border: none;
        outline: none;
        padding: .25rem .5rem .5rem 0;
        resize: none;
    }
}