.profil {


    &__background {

        img {
            position: relative;
            width: 100%;
            height: 27vh;
        }
    }

    .container {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    &__info {
        padding-left: 10rem;
        padding-right: 10rem;
        position: relative;
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    &__avatar {

        img {
            background-color: $cream;
            width: 128px;
            border-radius: 50%;
        }
    }

    &__username {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        .user {
            display: flex;
            gap: 1rem;
            align-items: center;
            margin-bottom: 0;

            h2 {
                font-size: 2.2rem;
                margin-bottom: 0;
            }

            .uil {
                font-size: 2rem;
                color: $darkBlue;
            }
        }

    }
}