.shows {
    
    padding-bottom: 2.5rem;
    background-color: $verylightBlue;

    &__header {
        padding-top: 1rem;
        padding-bottom: 1rem;
        background-color: $mostLightDarkBlue;
    }

    &__pelajaran {
        display: flex;
        padding-left: 0.75rem;

        img {
            max-width: 85px;
            max-height: 85px;
        }

        .header__belajar {

            display: flex;
            flex-direction: column;
            margin-top: 0.4rem;

            h3 {
                padding-left: 1.15rem;
                margin-bottom: 0;
                font-size: 1.1rem;
                color: $blueGrey;

                &:hover {
                    text-decoration: underline;
                }

                @include breakpoint-down(small){
                    padding-left: 1.1rem;
                }
            }

            h1 {
                margin-top: 0;
            }

            @include breakpoint-down(small){
                margin-top: 0.9rem;
            }
        }

        h1 {
            margin-top: 0.9rem;
            margin-bottom: 0;
            padding-left: 1rem;
            font-weight: 600;
            color: white;

            @include breakpoint-down(medium){
                font-size: 3rem;
                margin-top: 1rem;
            }

            @include breakpoint-down(small) {
                font-size: 2rem;
            }
        }
    }

    &__grid {
        gap: 2.5rem;
        padding-top: 2.5rem;
        display: flex;
        flex-wrap: wrap;

        @include breakpoint-down(small) {
            flex-direction: column;
        }
    }

    &__card {
        
        padding: 1rem;
        // border: 5px solid black;
        text-align: center;
        border-radius: 15px;
        box-shadow: 3px 3px 6px 0 rgba(0,0,0,.2);
        background: linear-gradient(to right, $lightBlue, $lightGreen);

        transition: transform 300ms ease-in-out, box-shadow 300ms ease-in-out;

        &:hover {
            box-shadow: 0 0 20px rgba(0,0,0,.2);
            transform: translate(7px, -7px);
        }

        @include breakpoint-up(medium){
            flex: 2 1 30%;
        }

        @include breakpoint-up(large){
            flex: 2 1 20%;
        }
    }

    &__icon {
        content: "";
        position: relative;
        width: 100%;
        margin-top: 0.5rem;
        margin-bottom: 1rem;
        padding-bottom: 0rem;

        @include breakpoint-up(large){
            margin-bottom: 1.5rem;
        }

        img {
            max-width: 128px;
            max-height: 128px;
        }
    }

    &__bab {

        h3 {
            font-size: 1.1rem;
            color: $darkBlue;

            @include breakpoint-down(medium) {
                font-size: 1rem;
            }

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.belajar {

    &__grid {
        gap: 1.5rem;
        padding-top: 2.5rem;
        display: flex;
        flex-direction: column;
    }

    &__card {
        
        padding: 1.5rem;
        text-align: left;
        border-radius: 5px;
        box-shadow: 3px 3px 6px 0 rgba(0,0,0,.2);
        background: linear-gradient(to right, $lightBlue, $lightGreen);
    }

    &__subbab {
        h3 {
            font-weight: 1000;
            margin-bottom: 1.75rem;
        }
    }

    &__konten {
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    &__keterangan {

        margin-bottom: 1rem;

        h4 {
            font-size: 1rem;
            color: $darkGrey;
        }
    }

    &__videos {
        display: flex;
        flex-direction: column;
        gap: 0.3rem;

        .konten {
            display: flex;
            gap: 0.5rem;

            .uil-play-circle {
                font-size: 2rem;
            }

            .judul {
                margin-top: 0.575rem;

                @include breakpoint-down(medium) {
                    font-size: 1.1rem;
                }

                @include breakpoint-down(small) {
                    margin-top: 0.585rem;
                    font-size: 1rem;
                }

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}