.syarat {

    background-color: $cream;

    &__intro {
        padding-top: 1.5rem;
        text-align: center;

        h1 {
            font-weight: 1000;
        }
    }

    

    &__card {
        padding: 1rem;
        border-radius: 15px;
        box-shadow: 6px 3px 6px 0 rgba(0,0,0,.2);
        background: linear-gradient(to right, $blueSky, $lightPurple);

    }
}