.matrixs {
    // margin-top: 80px;
    background-color: black;
    overflow-x: hidden;

    .container {
        padding-top: 0;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .matrix {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        font-family: 'Courier';
        // font-size: 12pt;
        // line-height: 10pt;
        background-color: black;
    }

    &__konten {
        margin-top: 2rem;
    }

    &__intro {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 3.5rem;

        h1 {
            margin: 0;
            text-align: center;
            font-family: 'Roboto Mono', monospace;
            font-size: 2rem;
            font-weight: 1000;
            color: white;
            user-select: none;

            transition: transform 300ms ease-in-out, color 150ms ease;

            &:hover {
                transform: translate(7px, -7px);
                color: $veryLightRed;
            }
        }

        .blue {

            &:hover {
                color: $lightBlueSky;
            }
        }
    }
}

.waktus {
    background-color: $lightBlack;
    padding-top: 3.5rem;

    .container {
        padding-top: 0;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .waktu {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    &__konten {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        user-select: none;
        margin-top: 2rem;
    }

    &__intro {
        text-align: center;
        
        h1 {
            margin: 0;
            font-size: 3.8rem;
            color: white;
            font-family: 'Kalam', cursive;

            @include breakpoint-down(medium) {
                font-size: 3rem;
            }

            @include breakpoint-down(small) {
                font-size: 2.5rem;
            }
        }
    }

    &__isi {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        text-align: center;

        .card {
            padding: 1.5rem;
            border-radius: 15px;
            box-shadow: 6px 3px 6px 0 rgba(0,0,0,.2);
            background: linear-gradient(to right, $blueSky, $lightPurple);

            transition: transform 300ms ease-in-out, box-shadow 150ms ease-in-out, ;
            &:hover {
                transform: translate(7px, -7px);
                box-shadow: 0 0 20px $lightBlueSky;
            }

            @include breakpoint-up(medium){
                flex: 2 1 30%;
            }

            @include breakpoint-up(large){
                flex: 2 1 30%;
            }

            .judul {
                text-align: center;
                font-family: 'Kalam', cursive;
                font-size: 2rem;
                padding-bottom: 0.5rem;
            }
        }
    }
}

.tujuan {

    background-color: $veryLightRed;

}

.fibo {

    background-color: $veryLightOrange;
}

.penutup {

    background-color: $lightBlueSky;
}

