@import "variables";
@import "mixins";
@import "animations";
@import "globals";
@import "flash";
@import "header";
@import "form";
@import "forgot";
@import "pelajaran";
@import "shows";
@import "modals";
@import "profil";
@import "pengaturan";
@import "tentang";
@import "kontak";
@import "kebijakan";
@import "syarat";
@import "hero";
@import "feature";
@import "donasi";
@import "footer";