<% layout('layouts/boilerplate') %> 

<style>
    .syarats {
        margin-top: 76px;
        background-color: rgb(255, 248, 243);
    }
</style>

<section class="syarats">
    <div class="syarat container container--px">

        <div class="syarat__intro">
            <h1>Syarat & Ketentuan</h1>
        </div>

        <div class="syarat__konten">
            <div class="syarat__card">

            </div>
        </div>

    </div>
</section>

<script async>
    document.title = 'Syarat & Ketentuan | FibonacciKu';
</script>