<% layout('layouts/boilerplate') %> 

<style>
    .pengaturans {
        margin-top: 80px;
    }
</style>

<section class="pengaturans">
    <%- include('../partials/flash') %>
    <div class="pengaturan container container--px">
        <div class="pengaturan__intro">
            <h1>Pengaturan</h1>
        </div>

        <div class="pengaturan__grid">
            <div class="pengaturan__card">
                <div class="pengaturan__isi">
                    <form class="pengaturan__form" action="/pengaturan/password?_method=PUT" method="POST" name="theform" novalidate class="validated-form">
                        <div class="judul">
                            <div class="pilihan-password">
                                <a href="/pengaturan/akun"><h3 class="akun">Akun</h3></a>
                                <a href="/pengaturan/password"><h3 class="password">Password</h3></a>
                            </div>
                            <hr>
                        </div>
                        <div class="keterangan">
                            <p>Membuat password membuat kamu dapat masuk dengan username dan password Fibonacciku kamu.</p>
                        </div>
                        <% if(user.isPassword) { %> 
                        <div class="pengaturan__konten">
                            <label for="password" class="pengaturan__label form-label">Password Lama</label>
                            <input class="password-input form-control pengaturan__input" type="password" id="password-lama" name="currentPassword" required>
                            <div class="eye-btn"><i class="uil uil-eye-slash"></i></div>
                            <div id="validation-message-lama" class="valid-error"></div>
                            <div class="invalid-feedback">
                                Masukkan password lama
                            </div>
                        </div>
                        <% } %> 
                        <div class="pengaturan__konten">
                            <label for="password" class="pengaturan__label form-label">Password Baru</label>
                            <input class="password-input1 form-control pengaturan__input" type="password" id="password-baru" minlength="8" name="newPassword" required>
                            <div class="eye-btn1"><i class="uil uil-eye-slash"></i></div>
                            <div id="validation-message-baru" class=""></div>
                            <div class="invalid-feedback">
                                Masukkan password baru min.8 karakter
                            </div>
                        </div>
                        <div class="pengaturan__konten">
                            <label for="confirm" class="pengaturan__label form-label">Konfirmasi Password</label>
                            <input class="password-input2 form-control pengaturan__input" type="password" id="password-konfirmasi" name="passwordConfirmation" required>
                            <div class="eye-btn2"><i class="uil uil-eye-slash"></i></div>
                            <div id="validation-message-konfirmasi" class=""></div>
                            <div class="invalid-feedback">
                                Masukkan konfirmasi password
                            </div>
                        </div>

                        <div>
                            <button class="form-group btn-valid-error" type="submit" id="btn-submit">
                                Buat Password
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="/js/profil/password.js" async></script>

<script type='text/javascript' async>
    document.title = 'Pengaturan - Password | FibonacciKu';
</script>

<script>
    //password show/hide button
    const passwordInput1 = document.querySelector(".password-input1");
    const passwordInput2 = document.querySelector(".password-input2");
    const eyeBtn1 = document.querySelector(".eye-btn1");
    const eyeBtn2 = document.querySelector(".eye-btn2");

    eyeBtn1.addEventListener("click", (e) => {
        if(passwordInput1.type === "password") {
            passwordInput1.type = "text";
            eyeBtn1.innerHTML = "<i class='uil uil-eye'></i>"
        }
        else {
            passwordInput1.type = "password";
            eyeBtn1.innerHTML = "<i class='uil uil-eye-slash'></i>"
        }
    });

    eyeBtn2.addEventListener("click", (e) => {
        if(passwordInput2.type === "password") {
            passwordInput2.type = "text";
            eyeBtn2.innerHTML = "<i class='uil uil-eye'></i>"
        }
        else {
            passwordInput2.type = "password";
            eyeBtn2.innerHTML = "<i class='uil uil-eye-slash'></i>"
        }
    });
</script>

<script>
    const passwordInput = document.querySelector(".password-input");
    const eyeBtn = document.querySelector(".eye-btn");
    eyeBtn.addEventListener("click", (e) => {
        if(passwordInput.type === "password") {
            passwordInput.type = "text";
            eyeBtn.innerHTML = "<i class='uil uil-eye'></i>"
        }
        else {
            passwordInput.type = "password";
            eyeBtn.innerHTML = "<i class='uil uil-eye-slash'></i>"
        }
    });
</script>