<% layout('layouts/boilerplate') %> 

<style>
    .pengaturans {
        margin-top: 80px;
    }
</style>

<section class="pengaturans">
    <div class="pengaturan container">

    </div>
</section>

<script async>
    document.title = 'Pengaturan | FibonacciKu'
</script>