<% layout('layouts/boilerplate') %> 

<style>
    .profils {
        margin-top: 80px;
    }
</style>

<section class="profils">
    <div class="profil">

        <div class="profil__background">
            <img src="<%= user.background %>">
        </div>

        <div class="container">
            <div class="profil__info">
                <div class="profil__avatar">
                    <img src="<%= user.avatar %>">
                </div>
                <div class="profil__username">
                    <h2><%= user.username %> </h2>
                </div>
            </div>
        </div>
        
    </div>
    
</section>

<script async>
    document.title = "<%= user.username %> | FibonacciKu";
</script>