<% layout('layouts/boilerplate') %>

<style>
    .kontak-form {
        background-color: rgb(255, 248, 243);
        margin-top: 80px;
    }
</style>

<section class="kontak-form">
    <%- include('../partials/flash') %>
    <div class="kontak container container--pall">
        <div class="kontak__intro">
            <h1>Kamu Bisa Kontak Kita!</h1>
            <p>
                Kalau kamu ada saran atau masukan untuk kita, bisa mengisi form dibawah!
            </p>
            <p>
                Atau bahkan jika kamu ingin kerjasama dengan kita, dengan senang hati kita membuka tangan lebar-lebar.
            </p>
        </div>
        <div class="kontak__container grid">
    
            <div class="kontak__grid">
                
                <div class="kontak__information">
                    <i class="uil uil-phone kontak__icon"></i>
    
                    <div>
                        <h3 class="kontak__title">Telepon</h3>
                        <span class="kontak__subtitle">+49-17669341393</span>
                    </div>
                </div>
                <div class="kontak__information">
                    <i class="uil uil-map-marker kontak__icon"></i>
    
                    <div>
                        <h3 class="kontak__title">Lokasi</h3>
                        <span class="kontak__subtitle">Regensburg - Jerman, Plato Wild Str. 2A, Nr. 1024</span>
                    </div>
                </div>
                <div class="kontak__information">
                    <div class="kontak__foto">
                        <img src="img/icon/kontak-icon.png">
                    </div>
                </div>
            </div>
    
            <form action="/kontak?_method=PUT" method="POST" class="kontak__form grid validated-form" novalidate>
                    
                <div class="kontak__konten">
                    <label for="" class="kontak__label form-label">Nama Lengkap</label>
                    <input class="form-control" type="text" id="nama" name="nama" class="kontak__input" required>
                </div>
                <div class="kontak__konten">
                    <label for="" class="kontak__label form-label">Email</label>
                    <input class="form-control" type="email" id="email" name="email" class="kontak__input" required>
                </div>
                    
                <div class="kontak__konten">
                    <label for="" class="kontak__label form-label">Subjek</label>
                    <input class="form-control" type="text" id="subject" name="subjek" class="kontak__input" required>
                </div>

                <div class="kontak__konten">
                    <label for="" class="kontak__label form-label">Pesan</label>
                    <textarea class="form-control" type="text" id="pesan" cols="0" rows="9" name="pesan" class="kontak__input" required></textarea>
                </div>
    
                <div>
                    <button type="submit">
                        Kirim Pesan
                        <i class="uil uil-message button__icon"></i>
                    </button>
                </div>
            </form>
    
        </div>
    </div>

</section>

<!-- <script src="/js/kontak/script.js"></script> -->

<script async>
    document.title = "Kontak | FibonacciKu";
</script>
