<% layout('layouts/boilerplate') %> 
<%- include('../partials/flash') %>
<section class="forms">
    
    <div class="forms__image"></div> 

    <div class="forms__container sign-up-form">
        <div class="forms__imgBox sign-up-imgBox">
            <div class="sliding-link">
                <p>Kamu sudah punya akun?</p>
                <a class="sign-in-btn" href="/masuk">Masuk</a>
            </div>
            <img src="img/masuk/signin-img.png" alt="">
        </div>

        <div class="forms__box sign-up-box">
            <h2>Daftar</h2>
            <!-- <div class="login-options">
                <div class="other-logins">
                    <a href=""><img src="img/masuk/google.png" alt=""></a>
                    <a href=""><img src="img/masuk/apple.png" alt=""></a>
                    <a href=""><img src="img/masuk/facebook.png" alt=""></a>
                </div>
                <p class="text">Atau, daftar dengan email...</p>
            </div> -->

            <form action="/daftar" method="POST" class="validated-form">
                <div class="field">
                    <i class="uil uil-at"></i>
                    <label for="email"></label>
                    <input type="email" id="email" name="email" placeholder="Email ID" required>
                </div>

                <div class="field">
                    <i class="uil uil-user"></i>
                    <label for="nama"></label>
                    <input type="text" id="nama" name="nama" placeholder="Nama Lengkap" required>
                </div>

                <div class="field">
                    <i class="uil uil-user-circle"></i>
                    <label for="username"></label>
                    <input type="text" id="username" name="username" placeholder="Username" required>
                </div>

                <div class="field">
                    <i class="uil uil-lock-alt"></i>
                    <label for="password"></label>
                    <input type="password" id="password" name="password" placeholder="Password" required>
                </div>

                <button class="submit-btn">Daftar</button>
            </form>
        </div>
    </div>

</section>