<% layout('layouts/boilerplate') %> 

<section class="forgot">
    <%- include('../partials/flash') %>
    <div class="forgot__image"></div>

    <div class="forgot__container">
        <div class="forgot__box">
            <form action="/lupa-password?_method=PUT" method="POST" novalidate class="validated-form">
                <legend class="mb-4">Lupa Password</legend>
                <div class="form-group">
                    <label for="email">Email</label>
                    <label class="mb-3 deskripsi" for="description">Masukkan email untuk mereset password:</label>
                    <input type="email" id="email" name="email" autofocus class="form-control" required>
                    <div class="invalid-feedback">
                        Masukkan email yang valid
                    </div>
                </div>
                <div class="form-group mt-4">
                    <input type="submit" class="btn btn-primary" value="Reset Password">
                </div>
            </form>
        </div>

    </div>
</section>

<script async>
    document.title = 'Lupa Password | FibonacciKu';
</script>