<% layout('layouts/boilerplate') %>
<%- include('../partials/flash') %>

<section class="forms">

        <div class="forms__image"></div>
        
        <div class="forms__container sign-in-form">
            <div class="forms__box sign-in-box">
                <h2>Masuk</h2>
                <form action="/masuk" method="POST" class="validated-form">
                    <div class="field">
                        <i class="uil uil-user-circle"></i>
                        <label for="username"></label>
                        <input type="text" id="username" name="username" placeholder="Username" required>
                    </div>

                    <div class="field">
                        <i class="uil uil-lock-alt"></i>
                        <label for="password"></label>
                        <input class="password-input" type="password" id="password" name="password" placeholder="Password" required>
                        <div class="eye-btn"><i class="uil uil-eye-slash"></i></div>
                    </div>

                    <div class="forgot-link">
                        <a href="">Forgot password?</a>
                    </div>

                    <button class="submit-btn">Masuk</button>
                </form>

                <div class="login-options">
                    <p class="text">Atau, masuk dengan...</p>
                    <div class="other-logins">
                        <a href="/google"><img src="img/masuk/google.png" alt=""></a>
                        <a href="/masuk-apple"><img src="img/masuk/GitHub.png" alt=""></a>
                        <a href="/masuk-facebook"><img src="img/masuk/facebook.png" alt=""></a>
                    </div>
                </div>
            </div>

            <div class="forms__imgBox sign-in-imgBox">
                <div class="sliding-link">
                    <p>Kamu belum punya akun?</p>
                    <a class="sign-up-btn" href="/daftar">Daftar</a>
                </div>
                <img src="img/masuk/signup-img.png" alt="">
            </div>
        </div>

</section>

<script src="/js/masuk/script.js" async></script>

<script>
    document.title = "Masuk"
</script>