<% layout('layouts/boilerplate') %> 

<section class="forgot">
    <%- include('../partials/flash') %>
    <div class="forgot__image"></div>

    <div class="forgot__container">
        <div class="forgot__box">
            <form action="/reset/<%= token %>?_method=PUT" method="POST" novalidate class="validated-form">
                <legend class="mb-4">Reset Password</legend>
                <div class="form-group">
                    <label class="" for="password">Password Baru</label>
                    <label class="mb-3 deskripsi" for="description">Masukkan password baru kamu:</label>
                    <input type="password" id="password" name="password" class="form-control" placeholder="Password baru" minlength="8" autofocus required>
                    <div class="invalid-feedback">
                        Password min. 8 karakter
                    </div>
                    <label class="mt-3" for="confirm">Konfirmasi Password</label>
                    <label class="mb-3 deskripsi" for="description">Masukkan konfirmasi password baru kamu:</label>
                    <input type="password" id="confirm" name="confirm" class="form-control" placeholder="Konfirmasi password" required>
                    
                </div>
                <div class="form-group mt-4">
                    <input type="submit" class="btn btn-primary" value="Rubah Password">
                </div>
            </form>
        </div>

    </div>
</section>

<script async>
    document.title = 'Reset Password | FibonacciKu';
</script>