<% layout('layouts/boilerplate') %>

<style>
    .tentangs {
        margin-top: 76px;
    }
</style>

<section class="tentangs">
    <div class="tentang container">
        
    </div>
</section>

<script async>
    document.title = "Tentang | FibonacciKu"
</script>