<% layout('layouts/boilerplate') %>

<!-- <script src="/js/tentang/p5.js" async></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.1/p5.min.js" integrity="sha512-NxocnqsXP3zm0Xb42zqVMvjQIktKEpTIbCXXyhBPxqGZHqhcOXHs4pXI/GoZ8lE+2NJONRifuBpi9DxC58L0Lw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- <script src="/js/tentang/p5.sound.js" async></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.1/addons/p5.sound.min.js" integrity="sha512-WzkwpdWEMAY/W8WvP9KS2/VI6zkgejR4/KTxTl4qHx0utqeyVE0JY+S1DlMuxDChC7x0oXtk/ESji6a0lP/Tdg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto+Mono&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Caveat&family=Dancing+Script&family=Kalam&display=swap" rel="stylesheet">

<section class="matrixs">
    <div class="container container--py">
        <div id="matrix" class="matrix"></div>
        <div class="matrixs__konten">
            <div class="matrixs__intro">
                <h1>Hai Sobat Fibo</h1>
                <h1 class="blue">مرحبا صديقي فيبو</h1>
                <h1>嗨斐波朋友</h1>
                <h1 class="blue">привет фибо друзья</h1>
                <h1>こんにちはバディ</h1>
                <h1 class="blue">สวัสดีเพื่อน</h1>
                <h1>안녕 친구</h1>
                <h1 class="blue">हाय फीबो दोस्तों</h1>
                <h1>הי פיבאָ פריינט</h1>
            </div>
        </div>
    </div>
</section>

<section class="waktus">
    <div class="container container--py">
        <div id="waktu" class="waktu"></div>
        <div class="waktus__konten">
            <div class="waktus__intro">
                <h1>Waktu terus berjalan, tik tok tik tok...</h1>
            </div>
            <div class="waktus__isi">
                <div class="card">
                    <div class="judul">
                        Hai sobat fibo!
                    </div>
                    Salam kenal, nama gua nabil. Gua mau berterima kasih buat kalian semua yang sudah memakai FibonacciKu menjadi tempat belajar kalian &#59;&#41; Semoga ilmu yang kalian dapet berkah dan bisa bermanfaat buat kalian suatu saat nanti.
                </div>
                <div class="card">
                    <div class="judul">
                        Kenapa buat FibonacciKu?
                    </div>
                    Well, karena waktu gua semester 1, gua sempet rada stress karna gua takut ga lulus ujian kuliah, terutama di jerman, gua kuliah pake bahasa jerman, makin susah deh jadinya. Dan bener, ujian gua ga lulus waktu itu.
                    Terus, waktu itu gua mikir, ngapain gua stress pikirin ujian doang? emangnya gua ke jerman cuman buat kuliah doang?
                    Alhasil singkat cerita, kepikiran lah ngebuat platform edukasi buat orang indonesia dengan impian, bisa menjakau orang indonesia di seluruh dunia.
                </div>
                <div class="card">
                    Mungkin kalian bisa nemuin di mata pelajaran fibo, ada beberapa bab yang engga ada isinya, alias kosong. Itu berarti gua belum ngebuat kontennya. Mungkin gua lagi sibuk kuliah, atau kerjaan yang lain. Karena saat ini, cuman gua sendiri yang ngajar di FibonacciKu. Dan gua juga ga cuman ngurusin buat video aja.
                    Jadi maaf yaa guys, kalau bab yang kalian pengen belajar masih kosong... InshaaAllah seiring waktu, gua bakal buat kontennya kok &#58;&#41;
                    Mungkin salah satu dari kalian ada yang tertarik ngajar di Fibo? bisa aja langsung kontak gua hahahahah &#58;D
                </div>
            </div>
        </div>
    </div>
</section>

<section class="tujuan">
    <div class="container container--py">
        <div class="tujuan__konten">
            <div class="tujuan__intro">

            </div>

            <div class="tujuan__isi">

            </div>
        </div>
    </div>
</section>

<section class="fibo">
    <div class="container container--py">
        <div class="fibo__konten">
            <div class="fibo__intro">

            </div>

            <div class="fibo__isi">
                
            </div>
        </div>
    </div>
</section>

<section class="penutup">
    <div class="container container--py">
        <div class="penutup__konten">
            <div class="penutup__intro">

            </div>

            <div class="penutup__isi">
                
            </div>
        </div>
    </div>
</section>

<script src="/js/tentang/sketch.js" defer></script>
<script src="/js/tentang/time.js" defer></script>

<script async>
    document.title = "Tentang | FibonacciKu";
</script>