<% layout('layouts/boilerplate') %> 

<style>
    .kebijakans {
        background-color: rgb(255, 248, 243);
        margin-top: 80px;
    }
</style>

<section class="kebijakans">
    <div class="kebijakan container container--px">

        <div class="kebijakan__intro">
            <h1>Kebijakan Privasi</h1>
        </div>

        <div class="kebijakan__grid">
            <div class="kebijakan__card">
                <div class="kebijakan__konten">
                    <div class="kebijakan__bab">
                        <h3>Prinsip Keamanan FibonacciKu</h3>
                    </div>
    
                    <div class="kebijakan__isi">
                        <ul>
                            <li>FibonacciKu tidak menjual data kepada pihak ketiga. Semua data disimpan aman oleh FibonacciKu.</li>
                            <li>FibonacciKu tidak menampilkan iklan. Tujuannya ialah, agar pengalaman belajar kamu tidak terganggu oleh iklan yang tiba-tiba muncul.</li>
                            <li>FibonacciKu berkomitmen untuk menyediakan lingkungan belajar yang aman dan terjaga dari serangan pihak lain.</li>
                        </ul>
                    </div>
                </div>

                <div class="kebijakan__konten">
                    <div class="kebijakan__bab">
                        <h3>Data Informasi</h3>
                    </div>

                    <div class="kebijakan__deskripsi">
                        FibonacciKu mengambil data sebagai berikut, jika kamu ingin membuat akun dan belajar di FibonacciKu:
                    </div>

                    <div class="kebijakan__isi">
                        <ul>
                            <li>FibonacciKu mengambil data langsung ketika kamu membuat akun, untuk penggunaan konten FibonacciKu.</li>
                            <li>Ketika kamu mmebuat akun, password yang kamu buat tersimpan aman dan otomatis terencypt oleh sistem FibonacciKu. FibonacciKu sendiri tidak mengetahui password pribadi kamu, karena sudah otomatis diencrypt.</li>
                            <li>Informasi personal dari data akun yang mungkin kamu hubungkan ke FibonacciKu (Contoh: Gmail, GitHub, Facebook) tidak disimpan oleh FibonacciKu.</li>
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>

<script async>
    document.title = 'Kebijakan Privasi | FibonacciKu';
</script>