<% layout('layouts/boilerplate') %> 

<style>
    .kebijakans {
        background-color: rgb(255, 248, 243);
        margin-top: 76px;
    }
</style>

<section class="kebijakans">
    <div class="kebijakan container container--px">

        <div class="kebijakan__intro">
            <h1>Kebijakan Privasi</h1>
        </div>

        <div class="kebijakan__grid">
            <div class="kebijakan__card">
                <div class="kebijakan__bab">

                </div>

                <div class="kebijakan__isi">
                    
                </div>
            </div>
        </div>
    </div>
</section>

<script async>
    document.title = 'Kebijakan Privasi | FibonacciKu';
</script>