<% layout('layouts/boilerplate') %>

<section class="show">
    <div class="container container--pall">
        <h1> Matematika </h1>
        <h1> <%= pelajaran.pelajaran %>  </h1>
    </div>
</section>