<% layout('layouts/boilerplate') %>

<style>
    .shows-pelajaran {
        margin-top: 76px;
    }
</style>

<section class="shows-pelajaran">
    <div class="shows">
        <div class="shows__header">
            <div class="container">
                <div class="shows__pelajaran">
                    <img src="<%= pelajaran.icon %>">
                    <h1><%= pelajaran.pelajaran %> </h1>
                </div>
            </div>
        </div>

        <div class="container container--px">
            <div class="shows__grid">
                <% for (let bab of babs) {%>
                <div class="shows__card">
                    <div class="shows__icon">
                        <a href="">
                            <img src="<%= bab.icon %> ">
                        </a>
                    </div>
    
                    <a href="" class="shows__bab">
                        <%= bab.bab %> 
                    </a>
                </div>
                <%  }%>
            </div>
        </div>

    </div>
</section>