<% layout('layouts/boilerplate') %>

<style>
    .belajar {
        margin-top: 76px;
    }
</style>

<section class="belajar">
    <div class="shows">
        <div class="shows__header">
            <div class="container">
                <div class="shows__pelajaran">
                    <img src="<%= bab.icon %>">
                    <div class="">
                        <h3><%= bab.pelajaran %> </h3>
                        <h1><%= bab.bab %> </h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="container container--px">

        </div>
    </div>
</section>