<% layout('layouts/boilerplate') %>

<style>
    .belajar {
        margin-top: 76px;
    }
</style>

<section class="belajar">
    <div class="shows">
        <div class="shows__header">
            <div class="container">
                <div class="shows__pelajaran">
                    <img src="<%= babs.icon %>">
                    <div class="header__belajar">
                        <h3><%= babs.pelajaran %> </h3>
                        <h1><%= babs.bab %> </h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="container container--px">
            <div class="belajar__grid">
                <% for (let subbab of subbabs) {%>
                    <div class="belajar__card">
                        <h1><%= subbab.subbab %> </h1>
                    </div>
                <%  }%>
            </div>
        </div>
    </div>
</section>